/* header start */
header.backImage {
    background-image: url("img/kapak.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

header.backImage .backImage-sub {
    color: #432630;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    font-style: italic;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header.backImage .backImage-heading {
    color: #432630;
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* navbar start */
#mainNavbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
}

#mainNavbar .navbar-brand {
    color: #de3545;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    letter-spacing: 0.063em;
}

#mainNavbar .navbar-nav .nav-item .nav-link {
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #de3545;
    letter-spacing: 0.06em;
}

#mainNavbar .navbar-nav .nav-item .nav-link:hover {
    color: #c5a098;
}

/* about start */
.mySection {
    padding: 5rem 0;
    background-color: #cecece;
}

.mySection h2.s-heading {
    font-size: 2.5rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mySection h3.s-subheading {
    font-size: 1.3rem;
    font-weight: 600;
    font-style: italic;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media(max-width:991.98px) {
    header.backImage {
        padding-top: 11rem;
        padding-bottom: 13rem;
    }

    header.backImage .backImage-heading {
        font-size: 2rem;
        line-height: 2rem;
    }

    #mainNavbar .navbar-nav .nav-item .nav-link {
        color: #212529;
    }
    #mainNavbar {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        background-color: #212529;
    }    

}

@media(min-width:992px) {
    header.backImage {
        padding-top: 15rem;
        padding-bottom: 15rem;
    }

    #mainNavbar {
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        border: none;
        transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
        -webkit-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
        -moz-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
        -ms-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
        -o-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }

    #mainNavbar .navbar-brand {
        font-size: 1.5rem;
        transition: font-size 0.3s ease-in-out;
        -webkit-transition: font-size 0.3s ease-in-out;
        -moz-transition: font-size 0.3s ease-in-out;
        -ms-transition: font-size 0.3s ease-in-out;
        -o-transition: font-size 0.3s ease-in-out;
    }

    #mainNavbar .navbar-nav .nav-item {
        margin-right: 1rem;
    }

    #mainNavbar .navbar-nav .nav-item:last-child {
        margin-right: 0;
    }

    #mainNavbar.navbar-mobile .navbar-brand {
        font-size: 1.20em;
    }

    #mainNavbar.navbar-mobile {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: #212529;
    }
}